.Button {
  outline: none;
  position: relative;
  appearance: none;
  border: none;
  background: rgb(27, 9, 47);
  color: inherit;
  display: block;
  width: 100%;
  border-radius: 8px;
  font-size: 1em;
  padding: 0.5em;
  transition: background 0.15s ease;
}

.Button::after {
  --Button-focus-ring-offset: 2px;

  content: '';
  position: absolute;
  z-index: 1;
  top: calc(-1 * var(--Button-focus-ring-offset));
  right: calc(-1 * var(--Button-focus-ring-offset));
  bottom: calc(-1 * var(--Button-focus-ring-offset));
  left: calc(-1 * var(--Button-focus-ring-offset));
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.15s ease;
  border-radius: calc(8px + var(--Button-focus-ring-offset));
}

.Button:focus {
  outline: 1px solid transparent;
}

.Button:focus-visible::after {
  box-shadow: 0 0 0 2px rgb(214, 117, 226);
}

.Button:hover,
.Button:focus-visible {
  background: rgb(59, 19, 104);
}

.Button:active {
  background: rgb(51, 16, 90);
}

.Label {
  display: block;
  color: rgb(212, 169, 205);
  font-size: 0.85em;
  margin-bottom: 0.25em;
}

.InputContainer {
  position: relative;
}

.Input {
  display: block;
  width: 100%;
  appearance: none;
  background: transparent;
  border: 1px solid rgb(212, 169, 205);
  color: inherit;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 8px;
}

.Input:focus {
  outline: 1px solid transparent;
}

.InputBackdrop {
  --TextField-focus-ring-offset: 2px;

  position: absolute;
  z-index: 1;
  top: calc(-1 * var(--TextField-focus-ring-offset));
  right: calc(-1 * var(--TextField-focus-ring-offset));
  bottom: calc(-1 * var(--TextField-focus-ring-offset));
  left: calc(-1 * var(--TextField-focus-ring-offset));
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.15s ease;
  border-radius: calc(8px + var(--TextField-focus-ring-offset));
}

.Input:focus-visible ~ .InputBackdrop {
  box-shadow: 0 0 0 2px rgb(214, 117, 226);
}
