* {
  box-sizing: border-box;
}

html {
  font-size: 1.25em;
  height: -webkit-fill-available;
}

body {
  background: rgb(8, 1, 15);
  color: rgb(239, 231, 243);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  display: grid;
  justify-content: center;
  align-content: stretch;

  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
}

dialog {
  background: rgb(8, 1, 15);
  color: rgb(239, 231, 243);
  border: 1px solid rgb(239, 231, 243);
}

main {
  width: 35rem;
  max-width: 100vw;
  padding: 1.5em;
  container-type: inline-size;

  display: grid;
  gap: 1.5rem;
  align-content: space-between;
}

p {
  margin: 0;
}

a {
  color: rgb(7, 204, 204);
}

a:focus {
  outline: 1px solid transparent;
}

a:focus-visible {
  outline-color: rgb(7, 204, 204);
}

code {
  color: rgb(224, 129, 209);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-bottom: 1.5em;
}

.Button {
  outline: none;
  position: relative;
  appearance: none;
  border: none;
  background: rgb(27, 9, 47);
  color: inherit;
  display: block;
  width: 100%;
  border-radius: 8px;
  font-size: 1em;
  padding: 0.5em;
  transition: background 0.15s ease;
}

.Button::after {
  --Button-focus-ring-offset: 2px;

  content: '';
  position: absolute;
  z-index: 1;
  top: calc(-1 * var(--Button-focus-ring-offset));
  right: calc(-1 * var(--Button-focus-ring-offset));
  bottom: calc(-1 * var(--Button-focus-ring-offset));
  left: calc(-1 * var(--Button-focus-ring-offset));
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.15s ease;
  border-radius: calc(8px + var(--Button-focus-ring-offset));
}

.Button:focus {
  outline: 1px solid transparent;
}

.Button:focus-visible::after {
  box-shadow: 0 0 0 2px rgb(214, 117, 226);
}

.Button:hover,
.Button:focus-visible {
  background: rgb(59, 19, 104);
}

.Button:active {
  background: rgb(51, 16, 90);
}

.Stack {
  display: flex;
  flex-direction: column;
}

.Stack--spacing {
  gap: 1rem;
}

.Label {
  display: block;
  color: rgb(212, 169, 205);
  font-size: 0.85em;
  margin-bottom: 0.25em;
}

.Label--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.Select-Input {
  display: block;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  color: rgb(239, 231, 243);
  font-size: 1em;
  padding: 0.5em;
  transition: background 0.15s ease;
}

.InputContainer {
  position: relative;
}

.Input {
  display: block;
  width: 100%;
  appearance: none;
  background: transparent;
  border: 1px solid rgb(212, 169, 205);
  color: inherit;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 8px;
}

.Input:focus {
  outline: 1px solid transparent;
}

.InputBackdrop {
  --TextField-focus-ring-offset: 2px;

  position: absolute;
  z-index: 1;
  top: calc(-1 * var(--TextField-focus-ring-offset));
  right: calc(-1 * var(--TextField-focus-ring-offset));
  bottom: calc(-1 * var(--TextField-focus-ring-offset));
  left: calc(-1 * var(--TextField-focus-ring-offset));
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.15s ease;
  border-radius: calc(8px + var(--TextField-focus-ring-offset));
}

.Input:focus-visible ~ .InputBackdrop {
  box-shadow: 0 0 0 2px rgb(214, 117, 226);
}

.Text--emphasis {
  font-weight: bold;
}

.ControlPanel {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 1rem;
  font-size: 0.85em;
  color: rgb(166, 154, 172);
}

@container (min-width: 30em) {
  .ControlPanel {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.ControlPanel-SectionHeading {
  margin: 0;
  font-size: 1.25em;
  color: rgb(239, 231, 243);
}

.ControlPanel-Section {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 0.5rem;
}
