* {
  box-sizing: border-box;
}

html {
  font-size: 1.25em;
  height: -webkit-fill-available;
}

body {
  background: rgb(8, 1, 15);
  color: rgb(239, 231, 243);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  display: grid;
  justify-content: center;
  align-content: center;

  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
}

main {
  max-width: 35rem;
  padding: 1.5em;

  display: grid;
  grid-gap: 1.25rem;
  align-content: center;
}

p {
  margin: 0;
}

a {
  color: rgb(7, 204, 204);
}

a:focus {
  outline: 1px solid transparent;
}

a:focus-visible {
  outline-color: rgb(7, 204, 204);
}

code {
  color: rgb(224, 129, 209);
}
